{{> nav}}

<div class="container">
  <div class="title-container">
    <h1 class="title">Create new User!</h1>

    <a href="/users" class="button-primary">List Users</a>
  </div>

  <div class="form-card">
    <form action="/createUserAtDatabase" method="POST">

      <label for="name">Name</label>
      <input type="text" id="NAME" name="NAME" placeholder="First name...">

      <label for="description">Lastname</label>
      <input type="text" id="LASTNAME" name="LASTNAME" placeholder="Lastname...">
     
      <label for="description">Login</label>
      <input type="text" id="LOGIN" name="LOGIN" placeholder="Login...">
      
      <label for="price">Password</label>
      <input type="text" id="PASSWORD" name="PASSWORD">

      <input type="submit" value="Create user">
    </form>
  </div>
</div>